/*
  Main Styles
*/
@font-face {
  font-family: 'open_sans';
  src: url('../Fonts/open_sans/OpenSans-Regular-webfont.eot');
  src: url('../Fonts/open_sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/open_sans/OpenSans-Regular-webfont.woff') format('woff'),
       url('../Fonts/open_sans/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('../Fonts/open_sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('../Fonts/Iconos/icomoon.eot?8na2sk');
  src:url('../Fonts/Iconos/icomoon.eot?#iefix8na2sk') format('embedded-opentype'),
    url('../Fonts/Iconos/icomoon.woff?8na2sk') format('woff'),
    url('../Fonts/Iconos/icomoon.ttf?8na2sk') format('truetype'),
    url('../Fonts/Iconos/icomoon.svg?8na2sk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-profile:before {
  content: "\e923";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-printer:before {
  content: "\e954";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-user:before {
  content: "\e971";
}
.icon-key:before {
  content: "\e98d";
}
.icon-cog:before {
  content: "\e994";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  color:#e5c100;
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-google-plus3:before {
  content: "\ea8a";
}
.icon-facebook3:before {
  content: "\ea8e";
}
.icon-twitter3:before {
  content: "\ea93";
}
.icon-github4:before {
  content: "\eab4";
}
.icon-apple:before {
  content: "\eabf";
}
.icon-android:before {
  content: "\eac1";
}
.icon-windows8:before {
  content: "\eac3";
}
.icon-skype:before {
  content: "\eac6";
}
.icon-file-pdf:before {
  content: "\eada";
}
.icon-file-excel:before {
  content: "\eadd";
}

body{
  background-color:#222;
  color:white;
  font-family: 'open_sans', arial;
  font-size: 16px;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

/*..........Header ..........*/
header{
  background:url(../IMG/Fondo1.png);
  background-color:#f2f2f2;
  padding:0;
  margin:0;
  position: relative;
  user-select: none;
  overflow: hidden;
}

header .MenuResponsive{
  display:none;
}

header div{
  display:inline-block;
  vertical-align: middle;
  padding:0;
  margin:0;
}

header div img{
  margin:4px 4px 0px 20px;
  transition:0.4s;
  width:70px;
}

header div img:hover{
  transform:rotate(45deg);
  cursor: pointer;
}

header div h1{
  color:rgba(230, 74, 61, 0.75);
  font-family: 'Oswald', arial;
  font-size: 3em;
  margin:0;
}

header .UserLink{
  position:absolute;
  top:0;
  right:0;
  margin: 0 -4.3em 0px 0px;
  transition:0.4s;
}

header .UserLink:hover{
  margin-right: 0;
}

header .UserLink div{
  display:block;
  font-size: 1.22em;
  padding: 9.7px;
  transition:0.4s;
}
 
header div .icon-profile{
  background:#48BA77;
}

header div .icon-profile:hover{
  background:#0DD769;
}

header div .icon-key{
  background:#0079C2;
}

header div .icon-key:hover{
  background: #00BAF0;
}

header .UserLink div span{
  color:white;
  font-family: 'Oswald', arial;
  cursor:pointer;
  outline:0;/*moz*/
}
/*.......End.Header .......*/

/*----------Login-----------*/
.login{
  font-family: 'Archivo Narrow', arial;
  box-sizing: border-box;
  padding:1.2em;
  left: 0;
  width: 100%;
  position: absolute;
  top: 97px;
  opacity:0.9;
  display: none;
  background:#A9A9A9;
  overflow: hidden;
  text-align: right;
  z-index: 20;
}

.login input{
  border-radius: 5px;
  border: 1px solid #ccc;
  color:black;
  padding: 0.2em 0.6em;
}

.login input:focus {
    border: 1px solid #E64A3D;
    outline:0;/*Chrome*/
} 

.login input[type="submit"]{
  background: #e64a3d;
  border-color: #e64a3d;
  color: white;
}
/*--  End-Login   --*/

#container{
  margin:0;
  padding:0;
  text-align: center;
}

.space{
  background:#D2D2D2;
}

.space, .space h2{
  margin:0;
  padding:0;
}

.space h2{
  color:black;
  font-family: 'Archivo Narrow', arial;
  font-weight: 400;
  font-size: 1em;
}

.space a{
  font-style: italic;
  text-decoration: none;
  color: #FF0000;
}

.sistemas h2, .vendedores h2, .compras h2{
  font-size: 2.5em;
  margin:0;
  padding:0;
}

.compras h2{
  color:#00c5b9;
}

.sistemas h2, .vendedores h2, .vendedores h3 span{
   color: #DCDCDC;
}

.vendedores h3{
  padding:0;
  margin:0;
}

.vendedores h3 span{
  padding:0;
  margin:0;
  font-size: 2em;
  cursor: pointer;
  transition:.2s color linear;
}

.vendedores h3 span:hover{
  color:#00c5b9;
}

.vendedores, .sistemas, .compras{
  font-family: 'Archivo Narrow', arial;
  padding: 1.8em 0;
}

/*-----------Slider--------------*/
/*By CreatiCode*/

 .slider-section{
  font-family: 'Archivo Narrow', arial;
  margin:0;
  overflow:hidden;
  background:#454545;
  padding:0;
 }

.slider-container { 
  box-sizing: border-box;
  margin: 0 auto;
  width: 1280px;
}

.slider-wrapper {
  border-radius:5px;
  background:black;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  height: 500px;
  width: 100%;
  overflow: hidden;
  list-style-type: none;
}

.slider-wrapper li {
  display: none;
}

li.slide-current {
  display: block;
}

.slider-wrapper li img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  padding: 12px;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.caption-title {
  margin:0;
  padding:0;
  color: #00c5b9;
  font-weight: 700;
  font-size: 1.6em;
  margin-bottom: 10px;
}

.caption p {
  margin:0;
    padding:0;
  color: #FFF;
  font-size: 1.4em;
  line-height: 1.3em;
}

.slider-wrapper li:hover .caption {
  transform: translateY(0);
}

.slider-controls {
  padding:0;
  text-align: center;
  margin-top: 15px;
}

.slider-controls li {
  background:#f0eeee;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
}

.slider-controls li.active {
  background: #e64a3d;  
}
/*-----------End Slider-------------*/

/*---------- Vendedores ----------*/
.vendedores{
  background:#222;
}

.vendedores article{
  background:#1a1a1a;
  border-radius: .8em;
  display: inline-block;
  margin:1%;
  width: 350px;
  padding:0.8em 0 1.2em 0;
  vertical-align: top;
  /*width:20%;*/
}

.vendedores article:hover p{
  transform:scale(1.1,1.1);
}

.vendedores article p{
  color:white;
  transition: 0.4s;
  font-family: 'Archivo Narrow', arial;
  font-size: 1.3em;
  font-style:italic; 
  text-align: center;
}

.vendedores article div{
  display:inline-block;
}

.vendedores article div figure{
  display:inline-block;
  margin:0.5em;
}

.vendedores article div figure img{
  width:80px;
}

.vendedores article div h3{
  display:inline-block;
  margin:.5em 0;
  vertical-align:top;
  font-size: 2.5em;
  font-family: 'Oswald';
}

.vendedores article input{
  font-family: 'Archivo Narrow', arial;
  font-size: 1.1em;
  background: #454545;
  border-radius: 2px;
  border-width: 0;
  display:block;
  height:40px;
  margin:auto;
  width:150px;
  transition:0.3s;
  outline:0;/*Chrome*/
}

.vendedores article input:hover{
  background: #00c5b9;
}
/*-------End Vendedores ----------*/

/*---------Publicidad-------------*/
.sistemas{
  background: #454545;
  background-image: url("../IMG/blur_background.jpg");
  background-size: cover;
  background-position:right center;
  /*background:#0099c2;*/
  /*background:#808080;*/
} 

.sistemas article{
  background-color: rgba(10,10,10,0.5);
  /*background: #008AAE;*/
  /*background: #666666;*/
  border-radius:0.5em;
  display:inline-block;
  margin:1%;
  width: 300px;
  padding:0;
  /*width: 15%*/
  vertical-align: top;
}

.sistemas article img{ 
  width:80%;
  max-width: 450px;
  margin:1em 0 .5em 0;
}

.sistemas article p{
  opacity: 0.8;
  padding:0;
  margin:0 0 .2em 0;
  border-top:#00c5b9 solid 1px;
}

.sistemas article p span{
    font-size: 2em;
    color:#00c5b9;
}

.sistemas article p a{
  text-decoration: none;
  font-size: 2.2em;
  font-family: 'Oswald';
  text-shadow: 1px 1px 1px #000;
  color:#DCDCDC;
  transition:0.3s;
}

.sistemas article p a:hover{
  color:#00c5b9;
}

 footer{
  overflow:hidden;
  padding:0;
  margin:0;
  background:#454545;
 }

 footer p{
  display:inline-block;
  font-size: .9em;
  font-family: 'open_sans';
  color:#DCDCDC;
 }

 footer p a{
  text-decoration: none;
  font-family: 'Oswald';
  color:white;
  font-size: 1.1em;
}

footer .footer-nav{
  vertical-align: middle;
  display:inline-block;
  color:#DCDCDC;
  font-size: 1.5em;
} 

footer .footer-nav ul{
  margin:0;
  list-style: none;
}

footer .footer-nav ul li{
  transition:all .2s linear;
  display:inline-block;
  margin:0 2px;
}

footer .footer-nav ul li:hover{
  transform: scale(1.3);
  cursor: pointer;
  color:#00c5b9;
}
/*-------End Publicidad-----*/


/*---------Modulo Compra----------*/ 
.compras {
  background: #f0eeee;
}
.compras article {
  position:relative;
  border-radius: .5em;
  background: #d8d6d6;
  display: inline-block;
  margin:1% 0.5%;
  padding-bottom: .8em;
  width: 250px;
  vertical-align: top;
  /*width: 10%;*/
  transition: all 0.2s linear;
}

.compras article span{
  position:absolute;
  color:gray;
  font-size: 1.2em;
  cursor:pointer;
}

.compras article .Promo{
  /*color:#ff4d4d;*/
  right:10px;
  top:10px;  
}

.compras article .Favorite{
  right:10px;
  top:40px;
}

.compras article .Data-Link{
  right:10px;
  top:70px;
}

.compras article figure{
  border-radius: .5em;
  display:block;
  margin:1em auto;
}

.compras article figure img{
  width: 115px;
  height: 150px;
}

.compras article ul{
  list-style:none;
}

.compras article .Mobile_Info ul{
  margin:0;
  padding:0;
  text-align: center;
}

.compras article .Mobile_Info ul li{
  font-size: 1em;
  color: black;
}

.compras article .ranking {
  padding:5px 0;
}

.compras article .ranking ul{
  padding:0;
  margin:0;
}

.compras article .ranking ul li {
  color: gray;
  font-size: 1.2em;
  display:inline-block;
  cursor:pointer;
}

.compras article input{
  font-family: 'Archivo Narrow', arial;
  font-size: 1em;
  background: #454545;
  border-radius: 2px;
  border-width: 0;
  display:block;
  height:30px;
  margin:auto;
  width:120px;
  transition:0.3s;
  outline:0;/*Chrome*/
}

.compras article input:hover{
  background: #00c5b9;
}


/*------------Responsive Design ----------*/
@media screen and (max-width:768px){
  header div img{
    width: 55px;
  }
  header div h1{
    font-size: 2.5em;
  }
  header .UserLink{
    margin-top:0;
  }
  header .UserLink div{
    padding: 6px;
  }
  body .login{
    top: 82px;
  }
}

@media screen and (max-width:500px){
  header{
    text-align: left;
  }
  header div img{
    display:none;
  }
  header .MenuResponsive{
    color:black;
    content:"";
    display:inline;
    font-size: 1.5em;
    margin-left: 10px;
    transition:0.3s;
  }
  header .MenuResponsive:hover{
    color:#e64a3d;
  }
  header div h1{
    font-size: 1.5em;
    color:#1FA4E5;
  }
  header .UserLink{
    margin:.2em 0;
  }
  header .UserLink div{
    background:none;
    display:inline-block;
    color:black;
  }
  header .UserLink div:hover{
    color:#e64a3d;
    background:none;
  }
  header .UserLink div span{
    display:none;
  }
  body .login{
    padding:0;
    opacity: .9;
    top: 54px;
  }
  .login input{
    display:block;
    width: 70%;
    margin:0.5em auto;
  }
  .login input[type="submit"]{
    width: 75%;
  }
  #container .vendedores h2{
    font-size:1.8em; 
    padding:0;
  }
  #container .sistemas h2{
    font-size:1.7em; 
    padding:0 0 .5em 0;
  }
  #container .compras h2{
    font-size:1.5em; 
    padding:0 0 .5em 0;
  }
  .sistemas article, .vendedores article{
    width: 290px;
  }
  footer .footer-nav ul{
    padding:0;
  } 
}

/*---------Responsive-Slider-----------*/
@media only screen and (max-width: 1366px) {
  .slider-container {
    width: 1000px;
  }
  .slider-wrapper {
    height: 390px;
  }
}

@media only screen and (max-width: 1015px) {
  .slider-container {
    width: 840px;
  }
  .slider-wrapper {
    height: 325px;
  }
  .caption {
    font-size:.7em;
    padding:.2em;
  }
}

@media only screen and (max-width: 855px) {
  .slider-container {
    width: 650px;
  }
  .slider-wrapper {
    height: 252px;
  }
}

@media only screen and (max-width: 665px) {
  .slider-section{
    display:none;
  }
}

