label {
	display: block;
	color: black;
	font: 1.3em 'Archivo Narrow';
}
.cf:before,
.cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}
:focus {
	outline: 0;
}
.loginform {
	background-color: #ffc43a;
	border: 10px solid rgba(0, 0, 0, 0.5);
	display: none;
	left: 50%;
	margin-left: -195px;
	margin-top: -200px;
	padding: 10px;
	position:absolute;
	top: 20%;
	width: 350px;
	z-index: 100;
}
.loginform ul {
	padding: 0;
	margin: 0;
}
.loginform li {
	display: inline;
	float: left;
}
.loginform input:not([type=submit]) {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}
.loginform input[type=submit] {
	font: 1.3em 'Archivo Narrow';
	font-style: italic;
	font-weight: bold;
	border: 1px solid rgba(0, 0, 0, 0.8);
	background: black;
	color: white;
	padding: 3px 10px;
	width:160px;
	margin-left: 90px;
	margin-top: 10px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.loginform input[type=submit]:hover {
	color: #ffc43a;
}

/*DIV FLOTANTE*/
#fondot {
	top: 0;
	z-index: 10;
	position: fixed;
	margin: 0;
	background: #000;
	opacity: 0.80;
	width: 100%;
	min-height: 1600px;
	display: none;
}
#cierro {
	z-index:1000;
	float:right;
	display:none;
	position:absolute;
	top:0px;
	left:345px;
}
#cierro:after {
	background:gray;
	color:#FFF;
	content:"x";
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	height:25px;
	line-height:25px;
	text-align:center;
	width:25px;
}
#cierro:hover:after {
	background:#e74c3c;
}
