/*
  Main Styles
*/
@font-face {
  font-family: 'open_sans';
  src: url('../Fonts/open_sans/OpenSans-Regular-webfont.eot');
  src: url('../Fonts/open_sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/open_sans/OpenSans-Regular-webfont.woff') format('woff'),
       url('../Fonts/open_sans/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('../Fonts/open_sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('../Fonts/IconFont/icomoon.eot?8na2sk');
  src:url('../Fonts/IconFont/icomoon.eot?#iefix8na2sk') format('embedded-opentype'),
    url('../Fonts/IconFont/icomoon.woff?8na2sk') format('woff'),
    url('../Fonts/IconFont/icomoon.ttf?8na2sk') format('truetype'),
    url('../Fonts/IconFont/icomoon.svg?8na2sk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {content: "\e900";}
.icon-pencil2:before {content: "\e906";}
.icon-play:before {content: "\e912";}
.icon-profile:before {content: "\e923";}
.icon-folder-download:before {content: "\e933";}
.icon-folder-upload:before {content: "\e934";}
.icon-price-tag:before {content: "\e935";}
.icon-cart:before {content: "\e93a";}
.icon-coin-dollar:before {content: "\e93b";}
.icon-credit-card:before {content: "\e93f";}
.icon-phone:before {content: "\e942";}
.icon-envelop:before {content: "\e945";}
.icon-location2:before {content: "\e948";}
.icon-clock:before {content: "\e94e";}
.icon-printer:before {content: "\e954";}
.icon-mobile:before {content: "\e958";}
.icon-tablet:before {content: "\e95a";}
.icon-undo2:before {content: "\e967";}
.icon-redo2:before {content: "\e968";}
.icon-bubbles2:before {content: "\e96d";}
.icon-user:before {content: "\e971";}
.icon-zoom-in:before {content: "\e987";}
.icon-key:before {content: "\e98d";}
.icon-lock:before {content: "\e98f";}
.icon-cog:before {content: "\e994";}
.icon-truck:before {content: "\e9b0";}
.icon-shield:before {content: "\e9b4";}
.icon-menu:before {content: "\e9bd";}
.icon-sphere:before {content: "\e9c9";}
.icon-link:before {content: "\e9cb";}
.icon-star-empty:before {content: "\e9d7";}
.icon-star-full:before {
  text-shadow: 0px 0px 1px black;
  color:#FFD700;
  content: "\e9d9";
}
.icon-heart:before {content: "\e9da";}
.icon-enter:before {content: "\ea13";}
.icon-circle-up:before {content: "\ea41";}
.icon-circle-right:before {content: "\ea42";}
.icon-circle-down:before {content: "\ea43";}
.icon-circle-left:before {content: "\ea44";}
.icon-checkbox-checked:before {content: "\ea52";}
.icon-google-plus2:before {content: "\ea89";}
.icon-google-plus3:before {content: "\ea8a";}
.icon-facebook2:before {content: "\ea8d";}
.icon-facebook3:before {content: "\ea8e";}
.icon-twitter2:before {content: "\ea92";}
.icon-twitter3:before {content: "\ea93";}
.icon-github4:before {content: "\eab4";}
.icon-apple:before {content: "\eabf";}
.icon-android:before {content: "\eac1";}
.icon-windows8:before {content: "\eac3";}
.icon-skype:before {content: "\eac6";}
.icon-file-pdf:before {content: "\eada";}
.icon-file-excel:before {content: "\eadd";}

body{
  background-color:#222;
  color:white;
  font-family: 'open_sans', arial;
  font-size: 16px;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

/*..........Header ..........*/
header{
  background:url(../IMG/Fondo1.png);
  background-color:#f2f2f2;
  padding:0;
  margin:0;
  position: relative;
  user-select: none;
  overflow: hidden;
}

header .MenuResponsive{
  display:none;
}

header div{
  display:inline-block;
  vertical-align: middle;
  padding:0;
  margin:0;
}

header div img{
  margin:4px 4px 0px 20px;
  transition:0.4s;
  width:70px;
}

header div img:hover{
  transform:rotate(45deg);
  cursor: pointer;
}

header div h1{
  color:rgba(230, 74, 61, 0.75);
  font-family: 'Oswald', arial;
  font-size: 3em;
  margin:0;
}

header .UserLink{
  position:absolute;
  top:0;
  right:0;
  margin: 0 -4.3em 0px 0px;
  transition:0.4s;
}

header .UserLink:hover{
  margin-right: 0;
}

header .UserLink div{
  display:block;
  font-size: 1.22em;
  padding: 9.7px;
  transition:0.4s;
}
 
header div .icon-profile{
  background:#48BA77;
}

header div .icon-profile:hover{
  background:#0DD769;
}

header div .icon-key{
  background:#0079C2;
}

header div .icon-key:hover{
  background: #00BAF0;
}

header .UserLink div span{
  color:white;
  font-family: 'Oswald', arial;
  cursor:pointer;
  outline:0;/*moz*/
}
/*.......End.Header .......*/

/*----------Login-----------*/
.main-login{
  font-family: 'Archivo Narrow', arial;
  box-sizing: border-box;
  padding:1.2em;
  left: 0;
  width: 100%;
  position: absolute;
  top: 97px;
  opacity:0.9;
  display: none;
  background:rgba(10, 10, 10, 0.5);
  overflow: hidden;
  text-align: right;
  z-index: 20;
}

.main-login input{
  border-radius: 5px;
  border: 1px solid #ccc;
  color:black;
  padding: 0.2em 0.6em;
}

.main-login input:focus {
    border: 1px solid #E64A3D;
    outline:0;/*Chrome*/
} 

.main-login input[type="submit"]{
  background: #e64a3d;
  border-color: #e64a3d;
  color: white;
}
/*--  End-Login   --*/

#container{
  margin:0;
  padding:0;
  text-align: center;
}

.space{
  background:#D2D2D2;
}

.space, .space h2{
  margin:0;
  padding:0;
}

.space h2{
  color:black;
  font-family: 'Archivo Narrow', arial;
  font-weight: 400;
  font-size: 1em;
}

.space a{
  font-style: italic;
  text-decoration: none;
  color: #FF0000;
}

.Title_1{
  font-size: 2.5em;
  margin:0;
  padding:0;
}

.purchase-section h2, .mobile-detail h2, .mobile-detail-2 h2{
  color:#00c5b9;
}

.system-section h2, .seller-section h2, .sign-up-section h2, .seller-section h3 span{
   color: #DCDCDC;
}

.seller-section h3{
  padding:0;
  margin:0;
}

.seller-section h3 span{
  padding:0;
  margin:0;
  font-size: 2em;
  cursor: pointer;
  transition:.2s color linear;
}

.seller-section h3 span:hover{
  color:#00c5b9;
}

.seller-section, .system-section, .purchase-section, .mobile-detail, .mobile-detail-2, .sign-up-section {
  font-family: 'Archivo Narrow';
  padding: 1.8em 0;
}

/*-----------Slider--------------*/
/*By CreatiCode*/

 .slider-section{
  font-family: 'Archivo Narrow', arial;
  margin:0;
  overflow:hidden;
  background:#454545;
  padding:1em 0;
 }

.slider-section * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.slider-container { 
  margin: 0 auto;
  width: 1280px;
}

.slider-wrapper {
  position: relative;
  z-index: 10;
  height: 500px;
  width: 100%; 
  overflow: hidden;
}

.slider-wrapper li {
  display: none;
}

li.slide-current {
  display: block;
}

.slider-wrapper li img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  padding: 12px;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.caption-title {
  color: #00c5b9;
  font-weight: 700;
  font-size: 1.6em;
  margin-bottom: 10px;
}

.caption p {
  color: #FFF;
  font-size: 1.4em;
  line-height: 1.3em;
}

.slider-wrapper li:hover .caption {
  transform: translateY(0);
}

.slider-controls {
  text-align: center;
  margin-top: 15px;
}

.slider-controls li {
  background:#f0eeee;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
}

.slider-controls li.active {
  background: #e64a3d;  
}
/*-----------End Slider-------------*/

/*---------- Vendedores ----------*/
.seller-section{
  background:#222;
}

.seller-section article{
  background:#1a1a1a;
  border-radius: .8em;
  display: inline-block;
  margin:1%;
  width: 350px;
  padding:0.8em 0 1.2em 0;
  vertical-align: top;
  /*width:20%;*/
}

.seller-section article:hover p{
  transform:scale(1.1,1.1);
}

.seller-section article p{
  color:white;
  transition: 0.4s;
  font-family: 'Archivo Narrow', arial;
  font-size: 1.3em;
  font-style:italic; 
  text-align: center;
}

.seller-section article div{
  display:inline-block;
}

.seller-section article div figure{
  display:inline-block;
  margin:0.5em;
}

.seller-section article div figure img{
  width:80px;
}

.seller-section article div h3{
  display:inline-block;
  margin:.5em 0;
  vertical-align:top;
  font-size: 2.5em;
  font-family: 'Oswald';
}

.seller-section article input{
  font-family: 'Archivo Narrow', arial;
  font-size: 1.1em;
  background: #454545;
  border-radius: 2px;
  border-width: 0;
  display:block;
  height:40px;
  margin:auto;
  width:150px;
  transition:0.3s;
  outline:0;/*Chrome*/
}

.seller-section article input:hover{
  background: #00c5b9;
}
/*-------End Vendedores ----------*/

/*---------Publicidad-------------*/
.system-section{
  background: #454545;
  background-image: url("../IMG/blur_background.jpg");
  background-size: cover;
  background-position:right center;
  /*background:#0099c2;*/
  /*background:#808080;*/
} 

.system-section article{
  background-color: rgba(10,10,10,0.5);
  /*background: #008AAE;*/
  /*background: #666666;*/
  border-radius:0.5em;
  display:inline-block;
  margin:1%;
  width: 300px;
  padding:0;
  /*width: 15%*/
  vertical-align: top;
}

.system-section article img{ 
  width:85%;
  max-width: 450px;
  margin:1em 0 .5em 0;
}

.system-section article p{
  opacity: 0.8;
  padding:0;
  margin:0 0 .2em 0;
  border-top:#00c5b9 solid 1px;
}

.system-section article p span{
  font-size: 2em;
  color:#00c5b9;
}

.system-section article p a{
  text-decoration: none;
  font-size: 2.2em;
  font-family: 'Oswald';
  text-shadow: 1px 1px 1px #000;
  color:#DCDCDC;
  transition:0.3s;
}

.system-section article p a:hover{
  color:#00c5b9;
}

footer{
  overflow:hidden;
  padding:0;
  margin:0;
  background:#454545;
 }

footer p{
  display:inline-block;
  font-size: .9em;
  font-family: 'open_sans';
  color:#DCDCDC;
 }

footer p a{
  text-decoration: none;
  font-family: 'Oswald';
  color:white;
  font-size: 1.1em;
}

footer .footer-nav{
  vertical-align: middle;
  display:inline-block;
  color:#DCDCDC;
  font-size: 1.5em;
} 

footer .footer-nav ul{
  margin:0;
  list-style: none;
}

footer .footer-nav ul li{
  transition:all .2s linear;
  display:inline-block;
  margin:0 2px;
}

footer .footer-nav ul li:hover{
  transform: scale(1.3);
  cursor: pointer;
  color:#00c5b9;
}
/*-------End Publicidad-----*/


/*---------Purchase Module----------*/ 
.purchase-section {
  background: #f0eeee;
}
.purchase-section article {
  position:relative;
  border-radius: .5em;
  background: #d8d6d6;
  display: inline-block;
  margin:1% .5%;
  padding-bottom: .8em;
  width: 250px;
  vertical-align: top;
  /*width: 10%;*/
  transition: all 0.2s linear;
}

.purchase-section article:hover{
  box-shadow: 0 0 5px black;
}

.purchase-section article span{
  position:absolute;
  color:gray;
  font-size: 1.2em;
  cursor:pointer;
}

.purchase-section article .promo{
  /*color:#ff4d4d;*/
  right:10px;
  top:10px;  
}

.purchase-section article .favorite{
  right:10px;
  top:40px;
}

.purchase-section article .data-link{
  right:10px;
  top:70px;
}

.purchase-section article figure{
  border-radius: .5em;
  display:block;
  margin:1em auto;
}

.purchase-section article figure img{
  width: 115px;
  height: 150px;
}

.purchase-section article ul{
  list-style:none;
}

.purchase-section article .mobile-info ul{
  margin:0;
  padding:0;
  text-align: center;
}

.purchase-section article .mobile-info ul li{
  font-size: 1em;
  color: black;
}

.purchase-section article .ranking {
  padding:5px 0;
}

.purchase-section article .ranking ul{
  padding:0;
  margin:0;
}

.purchase-section article .ranking ul li {
  color: #A7A7A7;
  font-size: 1.2em;
  display:inline-block;
  cursor:pointer;
}

.purchase-section article input{
  font-family: 'Archivo Narrow', arial;
  font-size: 1em;
  background: #454545;
  border-radius: 2px;
  border-width: 0;
  display:block;
  height:30px;
  margin:auto;
  width:120px;
  transition:0.3s;
  outline:0;/*Chrome*/
}

.purchase-section article input:hover{
  background: #00c5b9;
}
/*------End Purshace Module------------*/

/*------Mobile Detail------------------*/
.mobile-detail{
  /*background: #F0EEEE;*/
  background: #505050;
}

.mobile-detail article{
  position:relative;
  /*background:#D8D6D6;*/
  background: #363636;
  border-radius: .8em;
  display: inline-block;
  margin:1% .5%;
  padding:1em;
  vertical-align: top; 
}

.detail-img{
  width:500px;
}

.detail-img div{
  margin:0;
}

.purchase-data {
  text-align: left;
}

.purchase-data h3 {
  text-align: center;
  font-family: 'Oswald';
  font-size: 1.8em;
  padding: .5em 0;
  margin: 0;
  /*color: #515151;*/
  color:#CFCFCF;
  /*text-shadow: -2px -2px 0px #FFF, 2px -2px 0px #FFF
  , -2px 2px 0px #FFF, 2px 2px 0px #FFF;*/
}

.purchase-data .ranking {
  text-align: center;
  padding:0 0 .5em 0;
}

.purchase-data .ranking ul{
  padding:0;
  margin:0;
}

.purchase-data .ranking ul li {
  color: #A7A7A7;
  font-size: 1.8em;
  display:inline-block;
  cursor:pointer;
}

.purchase-data h4 {
  font-family: 'Oswald';
  font-size: 1.5em;
  padding: .2em .5em;
  margin: 0;
  /*color: #515151;*/
  color:#CFCFCF;
}

.purchase-options{

}

.purchase-options ul{
  list-style: none;
  /*color: #515151;*/
  color: #CFCFCF;
  padding-left:2em; 
  padding-right: .5em; 
  font-size: 1.3em;
}

.purchase-options ul li{
  padding: 2px 0;
}

.input-purchase{
  display:block;
  text-align: center;
}

.styled-select select {
  outline:0;
  background: transparent;
  width: 78px;
  padding: 5px;
  font-size: 1.2em;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 41px;
  -webkit-appearance: none;
}

.styled-select {
  color: #CDCDCD;
  display:inline-block;
  width: 60px;
  height: 41px;
  overflow: hidden;
  background: url(../IMG/List/arrow-down.png) no-repeat right #868686;
}

.purchase-data button{
  outline:0;
  background: #00aca1;
  width: 200px;
  height: 41px;
  border: none;
  margin: 0px 0px 0px -5px;
  vertical-align: top;
  font-size: 1.1em;
  transition:background 0.2s ease;
}

.purchase-data button:hover{
  background: #00C5B9;
}

.mobile-detail-2{
  /*background: #D8D6D6;*/
  background: #363636;
}

.mobile-detail-2 article{
  display: inline-block;
  margin:1% .5%;
  padding:1em;
}

.detail-info table{ 
  text-align: left;
  font-family:'open_sans';
}

.detail-info tr,td{
   padding:5px 10px; 

}
.detail-info table tr td:nth-child(1){
  color:#E64A3D;
  font-family: 'Archivo Narrow';
  font-size: 1.1em;
}

.detail-info table tr td:nth-child(2){ 
  color:#E6E6E6;
  font-size: 1em;
}

.detail-info table tr td:nth-child(2){
  border-bottom: 1px solid #00C5B9;
}
/*--------End Mobile Detail------------*/

/*------Mobile Detail------------------*/
.sign-up-section{
  background: #363636;
}



/*------------Responsive Design ----------*/
@media screen and (max-width:768px){
  header div img{
    width: 55px;
  }
  header div h1{
    font-size: 2.5em;
  }
  header .UserLink{
    margin-top:0;
  }
  header .UserLink div{
    padding: 6px;
  }
  body .main-login{
    top: 82px;
  }
  .mobile-detail .detail-img , .mobile-detail .purchase-data{
    padding:1em 10px;
    margin:1% 0;
    width: 90%;
  }
}

@media screen and (max-width:500px){
  header{
    text-align: left;
  }
  header div img{
    display:none;
  }
  header .MenuResponsive{
    color:black;
    content:"";
    display:inline;
    font-size: 1.5em;
    margin-left: 10px;
    transition:0.3s;
  }
  header .MenuResponsive:hover{
    color:#e64a3d;
  }
  header div h1{
    font-size: 1.5em;
    color:#1FA4E5;
  }
  header .UserLink{
    margin:.2em 0;
  }
  header .UserLink div{
    background:none;
    display:inline-block;
    color:black;
  }
  header .UserLink div:hover{
    color:#e64a3d;
    background:none;
  }
  header .UserLink div span{
    display:none;
  }
  body .main-login{
    padding:0;
    opacity: .9;
    top: 54px;
  }
  .main-login input{
    display:block;
    width: 70%;
    margin:0.5em auto;
  }
  .main-login input[type="submit"]{
    width: 75%;
  }
  #container .seller-section h2, #container .sign-up-section h2{
    font-size:1.8em; 
    padding:0;
  }
  #container .sign-up-section h1{
    font-size: 1.5em;
  }
  #container .system-section h2{
    font-size:1.7em; 
    padding:0 0 .5em 0;
  }
  #container .purchase-section h2{
    font-size:1.8em; 
    padding:0 0 .5em 0;
  }
  #container .mobile-detail h2, #container .mobile-detail-2 h2{
    font-size:1.7em; 
    padding:0 0 .5em 0;
  }
  #container .mobile-detail .purchase-data .purchase-options{
    font-size: .8em;
  }
  #container .mobile-detail .purchase-data select{
    width: 62px;
    padding: 5px;
    font-size: 1em;
    height: 40px;
  }
  #container .mobile-detail .purchase-data .styled-select{
    width: 45px;
    height: 40px;
  } 
  #container .mobile-detail .purchase-data button{
    width: 170px;
    height: 40px;
    margin: 0 0 0 -4px;
    font-size: 1em;
  }
  .system-section article, .seller-section article{
    width: 290px;
  }
  #container .sign-up-section .tab-group li{
    padding: .5em;
  }
  #container .sign-up-section .tab-group li a{
    font-size: 1em;
  }
  #container .sign-up-section .tab-group li span{
    font-size:1.2em;
  }
  #container .sign-up-section .button{
    padding: 5px 0;
    font-size: 1.2em;
  }
  footer .footer-nav ul{
    padding:0;
  } 
}

/*---------Responsive-Slider-----------*/
@media only screen and (max-width: 1366px) {
  .slider-container {
    width: 1000px;
  }
  .slider-wrapper {
    height: 390px;
  }
}

@media only screen and (max-width: 1015px) {
  .slider-container {
    width: 840px;
  }
  .slider-wrapper {
    height: 325px;
  }
  .caption {
    font-size:.7em;
    padding:.2em;
  }
}

@media only screen and (max-width: 855px) {
  .slider-container {
    width: 650px;
  }
  .slider-wrapper {
    height: 252px;
  }
}

@media only screen and (max-width: 665px) {
  .slider-section{
    display:none;
  }
}

/*............SignUp...............*/
.sign-up-section .form {
  box-sizing: border-box;
}

.sign-up-section .form a {
  text-decoration: none;
  color: gray;
  transition:color .5s ease;
}

.sign-up-section .form a:hover {
  color: white;
}

.sign-up-section .form {
  background: #292929;
  padding: 2em;
  max-width: 600px;
  margin: 1em auto;
  border-radius: .5em;
}

.sign-up-section .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.sign-up-section .tab-group li{
  margin: 0;
  display: inline-block;
  padding: 1em;
  background: #363636;
  width: 200px;
  transition:background .5s ease;
}

.sign-up-section .tab-group li span{
  float:right;
  font-size: 1.5em;
}

.sign-up-section .tab-group li a {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  cursor: pointer;
}

.sign-up-section .tab-group li:hover {
  background: #00C5B9;
}

.sign-up-section .tab-group .active{
  background: #00988F;
}

.sign-up-section .tab-content > div:last-child {
  display: none;
}

.sign-up-section .tab-content h1 {
  color: #CFCFCF;
  margin: 0 0 40px;
}

.sign-up-section .tab-content label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 1em;
}

.sign-up-section .tab-content label .req {
  margin: 2px;
  color: #1ab188;
}

.sign-up-section .tab-content label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

.sign-up-section .tab-content label.active .req {
  opacity: 0;
}

.sign-up-section .tab-content label.highlight {
  color: #ffffff;
}

.sign-up-section .tab-content input, .sign-up-section .tab-content textarea {
  font-size: 22px;
  display: block;
  width: 95%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}

.sign-up-section input:focus, .sign-up-section textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.sign-up-section textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.sign-up-section .field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.sign-up-section .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 10px 0;
  font-size: 2em;
  background: #00988f;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.sign-up-section .button:hover, .sign-up-section .button:focus {
  background: #00C5B9;
}

.sign-up-section .button-block {
  display: block;
  width: 100%;
}

.sign-up-section .forgot {
  margin-top: -20px;
  text-align: right;
}