@font-face {
  font-family: "Harabara";
  src: local("?"), url("../Fonts/Harabara.ttf") format("truetype");
}
body{
  background-color:#d2d2d2;
  color:black;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 16px;
  margin:0;
  padding:0;
}
/*//////////////////////////////////////////////////////////////////////////////////*/
header{
  background-color:white;
  background:url(../../IMG/Fondo1.png);
  height:auto;
  text-align: left;
  width:100%;
}
header h1{
  color:#e74c3c;
  font-family: 'Harabara';
  font-size: 4em;
  margin:0;
  padding:15px;
}
header img, h1{
  transition: all 0.4s linear;
}
header img:hover{
  transform:rotate(-90deg);
}
/*Media Queries*/
@media screen and (max-width:700px){
  header img{
    max-width: 120px;
    max-height: 100px;
  }
  header h1{
    font-size: 2.5em;
  }
}
@media screen and (max-width:500px){
  header img{
    max-width: 60px;
    max-height: 50px;
  }
  header h1{
    font-size: 1.5em;
  }
}
/*/////////////////////////////////*/
header div{
  display:inline-block;
  vertical-align:middle;
}
/*//////////////////////////////////////////////////////////////////////////////////*/
#container{
  margin:0;
  padding:0;
  text-align: center;
  width:100%;
}
#space p{
  width:100%;
  padding:10px;
  margin:0;
}
